<server description="New Server">
    <featureManager>
        <feature>jakartaee-10.0</feature>
    </featureManager>

    <webApplication location="web4-0.1.war" contextRoot="/web4"/>

    <httpEndpoint httpPort="9080" httpsPort="9081" id="defaultHttpEndpoint" host="*">
        <accessLogging enabled="true"
                       logFormat='%h %l %u %t "%r" %s %b %D'
                       filePath="${server.output.dir}/logs/http_access.log"/>
    </httpEndpoint>

    <authData id="db_auth" user="bigbob" password="4823"/>

    <library id="postgresJDBCLib">
        <fileset dir="${shared.resource.dir}/" includes="postgresql*.jar" />
    </library>
    <dataSource id="eventjpadatasource" jndiName="jdbc/MyPostgresDS">
        <jdbcDriver libraryRef="postgresJDBCLib"/>
        <properties.postgresql
                databaseName="web4-db"
                serverName="web4-db"
                portNumber="5432"
                user="bigbob"
                password="4823" />
    </dataSource>

    <logging consoleLogLevel="INFO"
             messageFileName="messages.log"
             traceFileName="trace.log"
             maxFileSize="50"
             maxFiles="3"
             traceSpecification="*=info:com.ibm.ws.app.manager.*=all:com.ibm.ws.container.*=all:com.ibm.ws.classloading.*=all:com.ibm.ws.cdi.*=all"/>
</server>